{% extends '/Layouts/header_and_menu.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{%  block css %}
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black; /* Définir la bordure des cellules */
            padding: 8px; /* Ajouter du padding pour espacer les cellules */
            text-align: left; /* Définir l'alignement du texte dans les cellules */
        }
    </style>
{% endblock %}

{% block main_title %} Liste des produits {% endblock %}
{% block corps %}

    <h2>Liste des produits</h2>

    <table>
        <tr><th>Produit<a href="{{ path('form_produit_add') }}"><button class="mon-button" > + </button></a></th></tr>
        <td> Nom </td>
        <td> Prix </td>
        <td> Quantité </td>
        {% for produit in produits %}
            <tr>
                <td>{{ produit[0].libelle }}</td>
                <td>{{ produit[0].prix }}</td>
                <td>{{ produit[0].quantite}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block barre_laterale %}

    <p>truc<br />bidule</p>

{% endblock %}
