{% extends '/Layouts/header_and_menu.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main_title %}Titre principal de la vue 4{% endblock %}
{% block corps %}
    <p>
        Welcome to our website <strong>Duck's armor seller</strong> ! In a world where everyone has a duck friend, we need to protect them.
        We value quality and offer you a large collection of duck armors which are named with celibrity names of the fashion world. </br>
        With our armors your duck will be in security with style.</br>
        If you duck like to walk around roads we advice you the "Canaradard" armor based on Rémi Gaillard's duck.
    </p>
{% endblock %}

{% block barre_laterale %}

    <p><a class="button" role="button" href="{{ path('overview_magasin_gestion') }}" class="btn btn-primary btn-sm">  &nbsp;Duck's armor shop </a></p>
    <p><a class="button" role="button" href="{{ path('form_nouveaucompte') }}" class="btn btn-primary btn-sm">  &nbsp;New Duck's account </a></p>
    <p><a class="button" role="button" href="{{ path('app_login') }}" class="btn btn-primary btn-sm">  &nbsp;Connexion </a></p>
    <p><a class="button" role="button" href="{{ path('overview_user_gestion') }}" class="btn btn-primary btn-sm">  &nbsp;Gestion accounts </a></p>
{% endblock %}
