{% extends '/Layouts/header_and_menu.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{%  block css %}
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black; /* Définir la bordure des cellules */
            padding: 8px; /* Ajouter du padding pour espacer les cellules */
            text-align: left; /* Définir l'alignement du texte dans les cellules */
        }
    </style>
{% endblock %}

{% block main_title %} Liste des produits {% endblock %}
{% block corps %}

    <h2>Liste des produits</h2>

    <table>
        <tr><th>Produit{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('form_produit_add') }}"><button class="mon-button" > + </button></a>{% endif %}</th></tr>
        <td> Nom </td>
        <td> Prix </td>
        <td> Quantité </td>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.quantite}}</td>
                <td><a href="{{ path('overview_panier_add', {'id_produit' : produit.id, 'id_user' : app.user.id}) }}"><button class="mon-button" > ajout panier </button></a></td>
                {% if is_granted('ROLE_ADMIN') %}
                <td><a href="{{ path('form_produit_edit', {'id' : produit.id}) }}"><button class="mon-button" > edit </button></a></td>
                <td><a href="{{ path('form_produit_delete', {'id' : produit.id}) }}"><button class="mon-button" > delete </button></a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block barre_laterale %}

    <p>truc<br />bidule</p>

{% endblock %}