{% extends '/Layouts/header_and_menu.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{%  block css %}
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black; /* Définir la bordure des cellules */
            padding: 8px; /* Ajouter du padding pour espacer les cellules */
            text-align: left; /* Définir l'alignement du texte dans les cellules */
        }
    </style>
{% endblock %}

{% block main_title %} Panier {% endblock %}
{% block corps %}

    <h2>Liste des produits du panier</h2>

    <table>
        <tr><th>Panier</th></tr>
        <td> Nom </td>
        <td> Quantité </td>
        {% for p in produits %}
            <tr>
                <td>{{ p.produit.libelle }}</td>
                <td>{{ p.quantite}}</td>
                <td><a href="{{ path('overview_panier_suppArticle', {'id_produit' : p.produit.id}) }}"><button class="mon-button" > delete </button></a></td>
            </tr>
        {% endfor %}
    </table>
    <p> Prix total : {{ prixTot }} <a href="{{ path('overview_panier_delete', {'id_user' : app.user.id}) }}"><button class="mon-button" > Vider </button></a><a href="{{ path('overview_panier_commande') }}"><button class="mon-button" > Commander </button></a></p>
{% endblock %}

{% block barre_laterale %}

    <p>truc<br />bidule</p>

{% endblock %}